<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/346c58c9-ae97-4215-b6aa-885b322d0e96/resourceGroups/AssignmentAPI/providers/Microsoft.Web/sites/RestAppGelHilApp</ResourceId>
    <ResourceGroup>AssignmentAPI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restappgelhilapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>restappgelhilapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestAppGelHilApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RestAppGelHilApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RestAppGelHilContext" Order="1" Enabled="False">
          <Destination Path="Data Source=apisserver.database.windows.net;Initial Catalog=API;User ID=LudoJakub;Password=Ludo1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RestAppGelHil.Models.RestAppGelHilContext, RestAppGelHil" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=apisserver.database.windows.net;Initial Catalog=API;User ID=LudoJakub;Password=Ludo1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|RestAppGelHilContext-20191204190241.mdf;Initial Catalog=RestAppGelHilContext-20191204190241;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=RestAppGelHilContext-20191204190241; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|RestAppGelHilContext-20191204190241.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=apisserver.database.windows.net;initial catalog=API;user id=LudoJakub;password=Ludo1234;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RestAppGelHilContext-Web.config Connection String">
      <ParameterValue>Data Source=apisserver.database.windows.net;Initial Catalog=API;User ID=LudoJakub;Password=Ludo1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>